---
import Layout from '../layouts/Layout.astro';
import PageHeader from '../components/PageHeader.astro';
import EstadisticasDashboard from '../components/estadisticas/EstadisticasDashboard.jsx';
---

<Layout title="Estadísticas" currentPage="/estadisticas">
    <PageHeader 
        title="Estadísticas"
        subtitle="Métricas y análisis de los indicadores"
        variant="purple"
        icon="bi-graph-up-arrow"
    />
    
    <div class="container pb-5">
        <EstadisticasDashboard client:load />
    </div>
</Layout>
